:root {
  /* Colours */
  --color-bg: light-dark(#fceb94, #0a0e15); /* page background /*

  /* Header */
  --color-head-bg: light-dark(#ff4b00, #4e576a);

  /* Logotype */
  --color-logotype-bg: light-dark(#6f90eb, #4e576a);
  --color-text-logotype: light-dark(#fffae2, deeppink);
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: light-dark(#6f90eb, #121212);
  /* Links */
  --color-link-bg: light-dark(#fffae2, deeppink);
  --color-link-hover: light-dark(#fff, pink); /* used */
  --color-link-active: light-dark(#fffae2, deeppink); /* used */
  --border-radius-links: 37px;

  /* Headlines og rubrik */
  --font-h1-size: 48px;
  --font-sub1-size: 48px;
  --font-h2-size: 36px;
  --font-h3-size: 32px;
  --color-headline-bg: light-dark(#000, #000);
  --color-headline-text-page: light-dark(#fffae2, #fff);

  /* Tekst */
  --color-text: light-dark(#000, #fff);
  --color-text-inverted: light-dark(#fffae2, #fff);

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 27px;

  /* Cards */
  --color-card-bg: light-dark(#fff, #bfc6d4);
  --color-cta-card-bg: light-dark(#ff4b00, deeppink);
  /* news-cards */
  --color-news-bg: light-dark(#fffae2, #bfc6d4);
  --color-news-bg-inverted: #dbe2f5;
  --color-cta-newscard-bg: light-dark(#ffa680, rgb(252, 82, 172));
  --color-cta-newscard-bg-inverted: light-dark(#6f90eb, #4e576a);

  /* Fonts */
  --font-family-sans: "rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 2rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 20px;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #fff;
  --color-infobox-1-bg: light-dark(#fceb94, #4e576a);
  --color-infobox-2-bg: light-dark(#def5db, #d1d6e0);
}
/* CSS Starter er tilføjet */
html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

button {
  border: none;
  background: Canvas;
  color: CanvasText;
  border: 1px solid currentColor;
  text-box: cap alphabetic;
  padding: 1cap;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  margin-block: 1.5rlh;
}
